/* Style the header */
.header {
    padding: 10px 16px;
    background: #0D1B2A;
    color: #E0E1DD;
    display: flex;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.links {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 20px;
}

.link {
    padding: 5px;
}

.link a {
    text-decoration: none;
    color: #E0E1DD;
    font-size: large;
}
.smallImage {
    margin-top: -10px;
    height: 40px;
    width: 40px;
}


.smallImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}